.links-list.svelte-4vqykl{list-style-type:none;margin:0;padding:0}.links-list__link.svelte-4vqykl{color:#b66e6e;display:flex}.links-list.svelte-4vqykl>li:where(.svelte-4vqykl){margin-bottom:10px;font:var(--font-links-list-item)}
