services:
  app:
    tty: true
    stdin_open: true
    build:
      dockerfile_inline: |
        FROM node:alpine
        WORKDIR /app
        COPY package.json pnpm-lock.yaml /app
        RUN corepack enable
        RUN pnpm install
    volumes:
      - ./:/app/
      - node_modules:/app/node_modules
    command: npm run dev -- --host
    ports:
      - 5173:5173

volumes:
  node_modules:
