---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import GithubRepo from "@components/GithubRepo.astro";
import InlineCode from "@components/InlineCode.astro";
import CodeSnippet from "@components/CodeSnippet.astro";
import TwoColsContainer from "@components/TwoColsContainer.astro";
import Video from "@components/Video.astro";
import Paragraph from "@components/Paragraph.astro";
import LinksList from "@components/LinksList.astro";
import Title from "@components/Title.astro";
import HeroTitleSmall from "@components/HeroTitleSmall.astro";
import { Code } from "astro/components";

import SocialIcon from "@assets/images/posts/elixir-telegram-bot/facebook-share.jpg";

const seo = {
  title: "Deploy Rails on Amazon LightSail container service",
  description:
    "This is the first part of three in the series. There you will find creating foundation and answering to users.",
  socialImage: SocialIcon,
};
---

<Layout
  title={seo.title}
  description={seo.description}
  socialImage={seo.socialImage}>
  <HeroTitleSmall title={seo.title} tags={["Telegram", "Elixir"]} />

  <Container>
    <TwoColsContainer>
      <Paragraph>
        During this article i will lead you from basics of Lightsail to fully a furnished automatic CI\CD to Lightsail.
      </Paragraph>
    </TwoColsContainer>

    <Title level="2">What is Lightail in general?</Title>

    <TwoColsContainer>
      <Paragraph>
        Lightsail - new service from Amazon Cloud. Treat it like an younger brother of Amazon EC2. Though being a lighten version of EC2 it supports all essential tools. At the moment you can use: VPS, container services, hosted databases, load balancers and permanent storage and backups. Not bad, hah?
      </Paragraph>

      <Paragraph>
        In this tutorial i will use <InlineCode>container service</InlineCode> what is someting similiar to Amazon Fargate + EC2. Container service allows to run Docker images. 
      </Paragraph>

      <Fragment slot="aside">
        <LinksList
          links={[
            [
              "Amazon Lightsail",
              "https://lightsail.aws.amazon.com",
            ],
            [
              "Deploy your first containerized application (Youtube)",
              "https://www.youtube.com/watch?v=RhcR5LaRXIQ"
            ]
          ]}
        />
      </Fragment>

      <!-- <Paragraph>
        One container service fits five docker containers
      </Paragraph> -->
    </TwoColsContainer>

    <Title level="2">Rails application which i want to deploy</Title>

    <TwoColsContainer>
      <Paragraph>
        Rails app is going to be extremely simple. Notetaking application that uses: Postgresql database, Importmaps for javascript. I have prepared an example application which you can clone.
      </Paragraph>

      <Paragraph>
        Cool part that right out of the box you have configured Minitest tests. If you run <InlineCode>rails test</InlineCode> you see 
      </Paragraph>

      <Fragment slot="aside">
        <LinksList
          links={[
            [
              "Example application on Github",
              "https://lightsail.aws.amazon.com",
            ],
          ]}
        />
      </Fragment>
    </TwoColsContainer>

    <Title level="3">Dockerfile</Title>


    <ul>
      <li>What is LightSail in general</li>
      Video ...
      <li>Basic rails application</li>
      Notetaking app with esbuild and cssbuild (and css bulma)
      <li>Creating LightSail infrastructure</li>
      Container service and database
      <li>Run CI using Gihub Actions</li>
      Recipe (with link to clone particular commit)
      <li>Deploy application to LightSail</li>
      No link to demo
    </ul>

    <GithubRepo 
      title={'act_as_api_client '}
      description={'Templates for popular API\'s and reliable way to create your own clients. At the moment it supports Github’s API, Authorize.net'}
      link={'https://github.com/Rukomoynikov/act_as_api_client'}
    />
  </Container>
</Layout>
