:root {
  font-size: 10px;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-display: block;
  background-color: #fbf5ee;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* For extremely small screen devices (595px and below) */

/* @media only screen and (max-width: 595px) {...} */

/* Small screen devices (600px and above) */

/* @media only screen and (min-width: 600px) {...} */

/* Medium screen devices (768px and above) */

/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */

/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */

/* @media only screen and (min-width: 1200px) {...} */

/* 320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV */
