:root {
  font-size: 10px;

  --font-family-main: "IBM Plex Sans", sans-serif;
  --font-case-link: 300 1rem var(--font-family-main);
  --font-description-link: 300 1.8rem var(--font-family-main);
  --font-title-link: 400 2.4rem var(--font-family-main);
  --font-label-link: 400 1.8rem var(--font-family-main);
  --font-code-snippet: 1.6rem var(--font-family-main);
  --font-github-repo: 2.2rem var(--font-family-main);
  --font-title-h2: normal 2.8rem var(--font-family-main);
  --font-title-h2-light: 300 2rem var(--font-family-main);
  --font-title-h3: bold 1.9rem var(--font-family-main);
  --font-title-h4: 300 2rem var(--font-family-main);
  --font-title-quote: 600 6rem/7rem var(--font-family-main);
  --font-title-quote-small: 400 4rem var(--font-family-main);
  --font-posts-section-title: 600 1.7rem var(--font-family-main);
  --font-post-link-letter: 4.2rem var(--font-family-main);
  --font-post-link-text: 2.2rem var(--font-family-main);
  --font-picture-caption: 400 1.4rem var(--font-family-main);
  --font-paragraph: 2rem/150% var(--font-family-main);
  --font-links-list-item: 1.6rem var(--font-family-main);
  --font-history-subtitle: 500 2rem var(--font-family-main);
  --font-history-text: 400 2rem/2.5rem var(--font-family-main);
  --font-hero-title-tag: 600 1.7rem var(--font-family-main);
  --font-hero-title-title: normal 6.2rem/6.8rem var(--font-family-main);
  --font-hero-title-title_small: normal 5.4rem/5.8rem var(--font-family-main);
  --font-hero-title-subtitle: 300 2.8rem/3.3rem var(--font-family-main);
  --font-logo: 400 5rem/5.4rem var(--font-family-main);
  --font-logo-small: 400 4rem/4.2rem var(--font-family-main);
  --font-header-slogan: 300 2rem/2.7rem var(--font-family-main);
  --font-header-link: 300 2rem/2.7rem var(--font-family-main);
  --font-header-link-small: 300 1.7rem/2.1rem var(--font-family-main);
}

body {
  font-family: var(--font-family-main);
  font-display: block;
  background-color: #fbf5ee;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

/* For extremely small screen devices (595px and below) */
/* @media only screen and (max-width: 595px) {...} */
/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...} */
/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */
/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */
/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */

/* 320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV */
