---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import TwoColsContainer from "@components/TwoColsContainer.astro";
import Title from "/src/components/Title.astro";
import Tags from "../components/Tags.astro";

const tags = [
  "Ruby on Rails",
  "Capybara",
  "Gitlab CI",
  "React",
  "Vue",
  "TDD",
  "RSpec",
  "Trailblaizer",
  "Postgres",
  "Elasticsearch",
  "Ruby Microservices",
  "Docker",
  "Kubernetes",
  "Capistrano",
  "Helm",
  "New Relic",
];
---

<Layout title="CV">
  <Container>
    <div class="cv">
      <div class="cv__title">
        <Title level="3">Ruby && JS\TS developer</Title>
      </div>

      <!--<h2 class="cv__title"></h2>-->

      <div class="job job__skillsList">
        <TwoColsContainer layout="reversed">
          <h3 class="job__title">Skills</h3>

          <div class="job__description">
            <ul>
              <li>Programming Languages: Ruby, JavaScript</li>
              <li>Frameworks: Ruby on Rails, React, Vue</li>
              <li>
                Testing: Capybara, RSpec, Gherkin, Jest, Playwright, Vitest etc
              </li>
              <li>
                CI/CD: Gitlab CI, Github Actions, Jenkins, Bitbucket Pipelines
              </li>
              <li>Cloud Services: AWS</li>
            </ul>
          </div>
        </TwoColsContainer>
      </div>

      <div class="job">
        <TwoColsContainer layout="reversed">
          <h3 class="job__title">Apply4, Fullstack Developer</h3>
          <div class="job__description">
            <ul>
              <li>Working on monolith Ruby on Rails applications.</li>
              <li>Improving test coverage and reducing tech debt.</li>
              <li>Upgrading to a new frontend architecture.</li>
              <li>
                Working on moving the application to a multiregional
                architecture.
              </li>
              <li>
                Implementing CI/CD for a Python project with deployment to AWS.
              </li>
              <li>
                Utilized technologies such as Ruby, AWS, and ViewComponents
              </li>
            </ul>

            <div class="job__tags">
              <Tags
                tags={[
                  "Ruby",
                  "AWS",
                  "ViewComponents",
                  "Migration data between regions",
                ]}
              />
            </div>
          </div>
          <Fragment slot="aside">
            <div class="job__dates">Feb 2022 — ...</div>
          </Fragment>
        </TwoColsContainer>
      </div>

      <div class="job">
        <TwoColsContainer layout="reversed">
          <h3 class="job__title">Alfabank, Gorbunov Bureau</h3>
          <div class="job__description">
            <ul>
              <li>
                Worked on various one-time projects and provided testing
                support.
              </li>
              <li>Transitioned to studying design at the Gorbunov Bureau.</li>
              <li>Gained expertise in Selenium, Playwright and Java.</li>
              <li>Contributed to building a Q&A department.</li>
            </ul>
          </div>

          <div class="job__tags">
            <Tags
              tags={["Selenium", "Playwright", "Building an Q&A department"]}
            />
          </div>

          <Fragment slot="aside">
            <div class="job__dates">December 2020 — Feb 2022</div>
          </Fragment>
        </TwoColsContainer>
      </div>

      <div class="job">
        <TwoColsContainer layout="reversed">
          <h3 class="job__title">ModusCreate, Ruby on Rails developer</h3>
          <div class="job__description">
            <ul>
              <li>
                Developed applications for students and teachers of American
                universities.
              </li>
              <li>
                Employed microservice architecture and technologies including
                Amazon SQS and Kubernetes.
              </li>
              <li>Gained experience with Elixir.</li>
              <li>Worked as part of a dynamic team.</li>
              <li>
                Collaborated with other developers to create a rich learning
                environment.
              </li>
            </ul>
          </div>

          <div class="job__tags">
            <Tags tags={["Ruby on Microservices", "Kubernetes", "Elixir"]} />
          </div>

          <Fragment slot="aside">
            <div class="job__dates">March 2020 — December 2020</div>
          </Fragment>
        </TwoColsContainer>
      </div>

      <div class="job">
        <TwoColsContainer layout="reversed">
          <h3 class="job__title">ETP GPB, JS/Rails develope</h3>
          <div class="job__description">
            <ul>
              <li>
                Started as a front-end programmer and transitioned to RoR
                development.
              </li>
              <li>
                Excelled in testing, using tools like Capybara, RSpec, and
                Gherkin.
              </li>
              <li>
                Managed code for various JS projects, including those based on
                jQuery and Vue.
              </li>
              <li>
                Interviewed potential team members and helped build and
                streamline the testing team.
              </li>
              <li>Implemented Gitlab CI and BDD-based auto-tests.</li>
              <li>
                Proficient in vanilla JavaScript, React, Vue, and Ruby on Rails.
              </li>
            </ul>
          </div>

          <div class="job__tags">
            <Tags
              tags={[
                "A lot of vanilla Javascript",
                "React and Vue",
                "Ruby on Rails",
                "Learning and teaching",
              ]}
            />
          </div>

          <Fragment slot="aside">
            <div class="job__dates">March 2016 — February 2020</div>
          </Fragment>
        </TwoColsContainer>
      </div>

      <div class="job">
        <TwoColsContainer>
          <h3 class="job__title">
            Pet projects, though old, but you can check the code
          </h3>
          <div class="job__description">
            <ul>
              <li>
                <a
                  class="job__link"
                  href="https://github.com/Rukomoynikov/cucumber-reports"
                  >Gem for generating html reports on cucumber tests (I like
                  BDD)</a
                >
              </li>
              <li>
                <a
                  class="job__link"
                  href="https://gitlab.com/pet-projects7/testus-site"
                  >Project on RoR: makes documentation out of tests and unites
                  team members around documentation.</a
                >
              </li>
              <li>
                <a
                  class="job__link"
                  href="https://gitlab.com/pet-projects7/travelparty"
                  >A project that has no demo, the idea is a search engine for
                  cheap flights</a
                >
              </li>
              <li>
                <a
                  class="job__link"
                  href="https://gitlab.com/pet-projects7/heroes-of-markets"
                  >Website and stock market parser, performance analysis</a
                >
              </li>
            </ul>
          </div>
        </TwoColsContainer>
      </div>

      <div class="job">
        <TwoColsContainer>
          <h3 class="job__title">Technical things that I met</h3>
          <Tags tags={tags} />
        </TwoColsContainer>
      </div>
    </div>
  </Container>
</Layout>

<style>
  .cv {
    background-color: white;
    padding: max(20px, 2vw);
    border-radius: 9px;
  }

  .cv__title {
    margin: 0;
    margin-bottom: 24px;
  }

  .job + .job {
    margin-top: 28px;
  }

  .job__title {
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 19px;
    font-weight: 500;
  }

  .job__description {
    font-size: 19px;
  }

  .job__description ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-position: inside;
  }

  .job__description + .job__description {
    margin-top: 8px;
  }

  .job__link {
    color: #b66e6e;
  }

  .job__dates {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .job__tags {
    margin-top: 8px;
  }
</style>
