---
import Case from "/src/components/Case.astro";
import Quote from "/src/components/Quote.astro";
import History from "/src/components/History.astro";
import Title from "/src/components/Title.astro";
import Container from "/src/components/Container.astro";
import ScrollObserver from "/src/components/ScrollObserver.svelte";
import Layout from "/src/layouts/Layout.astro";
import QuoteIcon from "@assets/images/icons/magic-wand.svg";
---

<Layout title="Rukomoynikov Max. Developer.">
  <!-- <ScrollObserver client:load /> -->

  <Container>
    <Title level={"2"} style={"light"}>Sites and mobile apps</Title>

    <div class="case">
      <Case
        caseHref="/cases/figma-social-media-covers"
        tags={["Producthunt"]}
        pictureHref={import(
          "@assets/images/cases/figma-social/cases-list/cases-list@2x.jpg"
        )}
        title="Figma template for social media covers"
        description="Being Featured at producthunt is most desirable thing for new startup. I decided to try this experience out on myself."
        hrefTitle="Story"
      />
    </div>

    <div class="case">
      <Case
        tags={["Design"]}
        description="Site for an excursion agency. The agency organizes running tours with locals. Such guides are popular abroad. The guys decided to try to do it in Moscow."
        hrefTitle="Case at Behance"
        title="Running tour around Khamovniki"
        pictureHref={import(
          "/src/assets/images/cases/excursions/cover/excursions@2x.jpg"
        )}
        caseHref="https://www.behance.net/gallery/116812227/begovye-ekskursii-po-rajonam-moskvy"
      />
    </div>

    <div class="case">
      <Case
        tags={["Site"]}
        description="Every year this week i renew all my digital subscriptions. I mean books and apps for example. This year i decided to collect all discounts i like on the one site."
        hrefTitle="Story"
        title="Site and banners for Black Friday"
        pictureHref={import(
          "/src/assets/images/cases/digitaldeals/cover/digitaldeals@2x.jpg"
        )}
        caseHref="/cases/digitaldeals/"
      />
    </div>

    <div class="case">
      <Case
        tags={["Design"]}
        description="'Applciation for storing documents of the whole family. When the expiration date comes up, the application will tell you how and when to update documents.'"
        hrefTitle="Image file"
        title="Documents in the pocket"
        pictureHref={import(
          "/src/assets/images/cases/documents/documents@2x.jpg"
        )}
        caseHref="https://bureau.ru/classroom/tasks/ui/interfeys-mobilnogo-prilozheniya-update/1606/results/41500/Доки_в_кармане.jpg"
      />
    </div>

    <div class="case">
      <Case
        tags={["Design"]}
        description="Site and boilerplate for creatting Vue applciations. Design of the site based on technical specifications familiar for every javascript developer."
        hrefTitle="Site"
        title="Boilerplate for Vue apps"
        pictureHref={import(
          "/src/assets/images/cases/vue-boilerpate/vue-boilerpate@2x.jpg"
        )}
        caseHref="'https://rukomoynikov.github.io/vue-webpack-boilerplate/'"
      />
    </div>

    <div class="quote-block">
      <Quote>
        <span
          >Damn cool feeling, when something was not in&nbsp;the&nbsp;universe,
        </span>
        <span class="nobreak"
          >and «<img alt="Magic wand icon" src={QuoteIcon} class="icon" />bam»</span
        > appeared
      </Quote>
    </div>

    <div class="cases">
      <Title level={"2"} style={"light"}>My history is like</Title>
      <History />
    </div>
  </Container>
</Layout>

<style>
  .case {
    margin-bottom: 36px;
  }

  @media only screen and (max-width: 595px) {
    .case {
      margin-bottom: 56px;
    }
  }

  .quote-block {
    margin: 70px 0;
  }
</style>
