---
import Quote from "@components/Quote.astro";
import Container from "@components/Container.astro";
import Layout from "/src/layouts/Layout.astro";
import QuoteIcon from "@assets/images/icons/magic-wand.svg";
import PostsSection from "@components/PostsSection.astro";
import GithubProjects from "@components/GithubProjects.astro";
---

<Layout title="Rukomoynikov Max. Developer.">
  <!-- <ScrollObserver client:load /> -->

  <Container>
    <div class="case">
      <GithubProjects />
    </div>

    <PostsSection
      sectionTitle="Programming"
      posts={[
        {
          letter: "E",
          title: "How to make a Telegram bot in Elixir",
          link: "/posts/elixir-telegram-bot/",
        },
        {
          letter: "R",
          title: "Docker way to generate and run Rails application",
          link: "/posts/rails-on-docker/",
        },
      ]}
    />

    <div class="quote-block">
      <Quote>
        <span
          >Damn cool feeling, when something didn't exist
          in&nbsp;the&nbsp;universe,
        </span>
        <span class="nobreak"
          >and «<img
            alt="Magic wand icon"
            src={QuoteIcon}
            class="icon"
          />bam»</span
        > it appeared.
      </Quote>
    </div>
  </Container>

  <style>
    .case {
      margin-bottom: 36px;
    }

    @media only screen and (max-width: 595px) {
      .case {
        margin-bottom: 56px;
      }
    }

    .quote-block {
      margin: 70px 0;
    }
  </style>
</Layout>
