---
export interface Props {
  size?: "1200" | "800";
}

const { size = "1200" } = Astro.props as Props;
const cssClass = `container--${size}`;
---

<div class={cssClass}>
  <slot />
</div>

<style>
  .container--1200 {
    max-width: 1200px;
    width: 100%;
    margin: 50px auto 20px auto;
    padding: 0 10px;
  }

  @media only screen and (max-width: 595px) {
    .container--1200 {
      padding: 0 10px;
    }
  }

  .container--800 {
    max-width: 800px;
  }
</style>
