<div class="header">
  <a href="/" class="logo">
    Max<br />Rukomoynikov
  </a>
  <div class="slogan">
    I love to create. Developer and designer. Looking forward to make cool
    things.
  </div>
  <div class="links">
    <a class="link" href="/cases">design</a>
    <a class="link" href="/cv">cv</a>
  </div>
</div>

<style>
  .header {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto 20px auto;
    padding: 0 10px;
  }

  .logo {
    font: var(--font-logo);
    margin-right: auto;
    color: black;
    text-decoration: none;
  }

  @media only screen and (max-width: 595px) {
    .logo {
      font: var(--font-logo-small);
    }
  }

  .slogan {
    font: var(--font-header-slogan);
    max-width: 271px;
    margin-top: 7px;
    margin-right: 20px;
  }

  @media only screen and (max-width: 595px) {
    .slogan {
      display: none;
    }
  }

  .links {
    margin-top: 9px;
  }

  .link {
    font: var(--font-header-link);
    color: #3a4a6a;
    display: block;
    margin-bottom: 3px;
  }

  @media only screen and (max-width: 595px) {
    .link {
      font: var(--font-header-link-small);
    }
  }
</style>
