<div class="header">
  <a href="/" class="logo">
    Maxim<br>Rukomoynikov
  </a>
  <div class="slogan">
    I love to create. Developer and designer. Looking forward to make cool things.
  </div>
  <div class="links">
    <a class="link" href="https://twitter.com/Rukomoynikov">twitter</a>
    <a class="link" href="https://www.facebook.com/rukomoynikov">facebook</a>
    <a class="link" href="https://www.behance.net/ruq">behance</a>
  </div>
</div>

<style>
  .header {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 20px auto 20px auto;
    padding: 0 10px;
  }
  .logo {
    font: 400 50px/54px IBM Plex Sans, sans-serif;
    margin-right: auto;
    color: black;
    text-decoration: none;
  }
  @media only screen and (max-width: 595px) {
    .logo {
      font: 400 40px/42px IBM Plex Sans, sans-serif;
    }
  }
  .slogan {
    font: 300 20px/27px IBM Plex Sans, sans-serif;
    max-width: 271px;
    margin-top: 7px;
    margin-right: 20px;
  }
  @media only screen and (max-width: 595px) {
    .slogan {
      display: none;
    }
  }
  .links {
    margin-top: 9px;
  }
  .link {
    font: 300 20px/27px IBM Plex Sans, sans-serif;
    color: #3a4a6a;
    display: block;
    margin-bottom: 3px;
  }
  @media only screen and (max-width: 595px) {
    .link {
      font: 300 17px/21px IBM Plex Sans, sans-serif;
    }
  }
</style>
