---
const { links = [] } = Astro.props as Props;
---

<ul class="links-list">
  {links.map((link) => ( 
    <li>
      <a href={link[1]} class="links-list__link">
        {link[0]}
      </a>
    </li>
  ))}
</ul>

<style>
  .links-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .links-list__link {
    color: #b66e6e;
    display: flex;
  }
  .links-list > li {
    margin-bottom: 10px;
    font-size: 16px;
  }
  .links-list__link::before {
    content: ' ';
    background-image: url('/src/assets/images/icons/link-2.svg');
    background-repeat: no-repeat;
    margin-right: 4px;
    margin-top: 2px;
    display: block;
    width: 1em;
    height: 1em;
  }
</style>
