<p class="paragraph">
  <slot />
</p>

<style>
  .columns {
    display: flex;
    align-items: flex-end;
  }

  @media only screen and (max-width: 1024px) {
    .columns {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .paragraph {
    font-size: 20px;
  }

  .paragraph:first-of-type {
    margin-top: 0;
  }

  .col-1 {
    max-width: 800px;
    flex: 1;
  }

  .col-2 {
    margin-left: 20px;
    margin-bottom: 19px;
    max-width: 100%;
  }

  @media only screen and (max-width: 1024px) {
    .col-2 {
      margin-left: 0;
      margin-bottom: 0;
    }
  }
</style>

<!-- <style type="text/css">
  .article-layout {
    display: flex;
  }
  @media only screen and (max-width: 595px) {
    .article-layout {
      flex-direction: column;
    }
  }
  .article-layout__text {
    display: flex;
    margin-right: 42px;
  }
  .article-layout__quotes {
    display: flex;
    font-size: 15px;
  }
</style> -->
