<div class="picture-caption"><slot /></div>

<style>
  .picture-caption {
    font: var(--font-picture-caption);
    color: #888;

    display: block;
    margin-block-start: 0px;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
</style>
