---
export interface Props {
  size?: "small";
}

const { size } = Astro.props as Props;
const cssClass = size == "small" ? "quote quote_small" : "quote";
---

<div class="quote-container">
  <blockquote class={cssClass}>
    <slot />
  </blockquote>
</div>

<style>
  .quote-container {
    background: white;
    padding: 25px 0;
    border-radius: 6px;
  }

  .quote {
    font: var(--font-title-quote);
    position: relative;
  }

  .quote_small {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 595px) {
    .quote {
      margin-left: 30px;
      font: var(--font-title-quote-small);
    }
  }

  @media only screen and (max-width: 595px) {
    .quote::before,
    .quote::after {
      display: none;
    }
  }

  .quote-container :global(.icon) {
    width: auto;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .quote-container :global(.nobreak) {
    white-space: nowrap;
  }
</style>
